table {
  width: 100%;
}
.header {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.text-center {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 20px 0;
}

.perc-07 {
  width: auto;
}

.perc-30 {
  width: 310%;
}
.perc-22 {
  width: 22%;
}
